.main-container{
    display: grid;
    grid-template-columns: 4fr 2fr;
    background-color: #e0dfe1;
   
    
}
.product-container{
    height: 100vh;


}
.cart-container{
    background-color: green;
    background-color: #e0dfe1;
    box-shadow: 0 10px 50px 20px #edeced;
    border-radius: 25px 0 0 25px;
}
button{
    padding:5px 10px;
    border-radius: 12px;
    border: 1px solid gray;
    margin: 5px;
    cursor: pointer;
}
.special1{
    color: black;
}
.reset{
    color: red;
}
